.btn {
    background-color:#2f4f4f;
    padding: 1rem 2rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
} 

.btn:hover {
    background-color: #203535;
    color: white;
    transition-duration: 750ms;
    
}


